<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lexiflow.wordbook.mapper.WordbookWordMapper">

    <select id="selectWordPage" resultType="com.lexiflow.wordbook.dto.WordbookWordRow">
        SELECT
            w.id AS id,
            w.word AS word,
            w.normalized_word AS normalizedWord,
            w.phonetic0 AS phonetic0,
            w.phonetic1 AS phonetic1,
            w.trans AS trans,
            w.sentences AS sentences,
            w.phrases AS phrases,
            w.synos AS synos,
            w.rel_words AS relWords,
            w.etymology AS etymology,
            w.primary_pos AS primaryPos,
            w.primary_definition AS primaryDefinition,
            w.tags AS tags,
            ww.sequence_no AS sequenceNo,
            ww.difficulty_level AS difficultyLevel,
            ww.exam_frequency AS examFrequency
        FROM wordbook_word ww
        INNER JOIN word w ON w.id = ww.word_id AND w.deleted = 0
        WHERE ww.deleted = 0
          AND ww.enabled = 1
          AND ww.wordbook_id = #{wordbookId}
        <if test="keyword != null and keyword != ''">
          AND (
            w.word LIKE CONCAT('%', #{keyword}, '%')
            OR w.normalized_word LIKE CONCAT('%', #{keyword}, '%')
            OR w.primary_definition LIKE CONCAT('%', #{keyword}, '%')
          )
        </if>
        ORDER BY ww.sequence_no ASC, w.id ASC
    </select>



    <select id="selectAdminWord" resultType="com.lexiflow.wordbook.dto.WordbookWordAdminRow">
        SELECT
            w.id AS id,
            ww.id AS relationId,
            w.word AS word,
            w.normalized_word AS normalizedWord,
            w.phonetic0 AS phonetic0,
            w.phonetic1 AS phonetic1,
            w.trans AS trans,
            w.sentences AS sentences,
            w.phrases AS phrases,
            w.synos AS synos,
            w.rel_words AS relWords,
            w.etymology AS etymology,
            w.primary_pos AS primaryPos,
            w.primary_definition AS primaryDefinition,
            w.tags AS tags,
            ww.sequence_no AS sequenceNo,
            ww.difficulty_level AS difficultyLevel,
            ww.exam_frequency AS examFrequency,
            ww.enabled AS enabled
        FROM wordbook_word ww
        INNER JOIN word w ON w.id = ww.word_id AND w.deleted = 0
        WHERE ww.deleted = 0
          AND ww.wordbook_id = #{wordbookId}
          AND ww.word_id = #{wordId}
        LIMIT 1
    </select>
    <select id="selectAdminWordPage" resultType="com.lexiflow.wordbook.dto.WordbookWordAdminRow">
        SELECT
            w.id AS id,
            ww.id AS relationId,
            w.word AS word,
            w.normalized_word AS normalizedWord,
            w.phonetic0 AS phonetic0,
            w.phonetic1 AS phonetic1,
            w.trans AS trans,
            w.sentences AS sentences,
            w.phrases AS phrases,
            w.synos AS synos,
            w.rel_words AS relWords,
            w.etymology AS etymology,
            w.primary_pos AS primaryPos,
            w.primary_definition AS primaryDefinition,
            w.tags AS tags,
            ww.sequence_no AS sequenceNo,
            ww.difficulty_level AS difficultyLevel,
            ww.exam_frequency AS examFrequency,
            ww.enabled AS enabled
        FROM wordbook_word ww
        INNER JOIN word w ON w.id = ww.word_id AND w.deleted = 0
        WHERE ww.deleted = 0
          AND ww.wordbook_id = #{wordbookId}
        <if test="enabled != null">
          AND ww.enabled = #{enabled}
        </if>
        <if test="keyword != null and keyword != ''">
          AND (
            w.word LIKE CONCAT('%', #{keyword}, '%')
            OR w.normalized_word LIKE CONCAT('%', #{keyword}, '%')
            OR w.primary_definition LIKE CONCAT('%', #{keyword}, '%')
          )
        </if>
        ORDER BY ww.sequence_no ASC, w.id ASC
    </select>
    <select id="selectNewWordCandidates" resultType="com.lexiflow.wordbook.dto.WordbookWordPickRow">
        SELECT
            ww.word_id AS wordId,
            ww.sequence_no AS sequenceNo
        FROM wordbook_word ww
        INNER JOIN word w ON w.id = ww.word_id AND w.deleted = 0
        WHERE ww.deleted = 0
          AND ww.enabled = 1
          AND ww.wordbook_id = #{wordbookId}
          AND ww.sequence_no &gt; #{startSequenceNo}
        ORDER BY ww.sequence_no ASC, ww.word_id ASC
        LIMIT #{limit}
    </select>

</mapper>
